apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert-service
  template:
    metadata:
      labels:
        app: alert-service
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: alert-service
          image: ghcr.io/boolean-autocrat/alert-service:latest
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                secretKeyRef:
                  name: kafka-credentials
                  key: bootstrap.servers
            - name: KAFKA_API_KEY
              valueFrom:
                secretKeyRef:
                  name: kafka-credentials
                  key: api.key
            - name: KAFKA_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: kafka-credentials
                  key: api.secret
