apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingestion-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingestion-service
  template:
    metadata:
      labels:
        app: ingestion-service
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: ingestion-service
          image: ghcr.io/boolean-autocrat/ingestion-service:latest
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          ports:
            - containerPort: 80
          env:
            - name: KAFKA_BOOTSTRAP_SERVER
              valueFrom:
                secretKeyRef:
                  name: kafka-credentials
                  key: bootstrap.servers
            - name: KAFKA_API_KEY
              valueFrom:
                secretKeyRef:
                  name: kafka-credentials
                  key: api.key
            - name: KAFKA_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: kafka-credentials
                  key: api.secret
