
apiVersion: v1
kind: Namespace
metadata:
  name: observability
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: observability
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 1m0s
  install:
    remediation:
      retries: 3
  values:
    grafana:
      enabled: true
      adminPassword: "admin"
      sidecar:
        dashboards:
          enabled: true
          label: grafana_dashboard
    prometheus:
      prometheusSpec:
        podMonitorSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
