
confluent_cloud_api_key = "YOUR_CONFLUENT_CLOUD_API_KEY" # IMPORTANT: Replace with your Confluent Cloud API Key
confluent_cloud_api_secret = "YOUR_CONFLUENT_CLOUD_API_SECRET" # IMPORTANT: Replace with your Confluent Cloud API Secret
confluent_environment_id = "YOUR_CONFLUENT_CLOUD_ENVIRONMENT_ID" # IMPORTANT: Replace with your Confluent Cloud Environment ID
